@page "/categorias/editar/{id:int}"
@model Category.EditModel
@{
    ViewData["PageTitle"] = "Editar categoria";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="CategoryId" value="@Model.Category.CategoryId"/>
                <div class="mb-3">
                    <div class='e-btn-group custom-rbt-group'>
                        <input type="radio" id="radioleft" name="Type" value="Expense" checked="@(Model.Category.Type=="Expense")" />
                        <label class="e-btn" for="radioleft">Dispesa</label>
                        <input type="radio" id="radiomiddle" name="Type" value="Income" checked="@(Model.Category.Type=="Income")" />
                        <label class="e-btn" for="radiomiddle">Receita</label>
                    </div>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Title" placeholder="Titulo" ejs-for="@Model.Category.Title" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Category.Title" class="text-danger fs-6"> </span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Description" placeholder="Descrição" ejs-for="@Model.Category.Description" floatLabelType="Always"></ejs-textbox>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Icon" placeholder="Emoji" ejs-for="@Model.Category.Icon" floatLabelType="Always"></ejs-textbox>
                </div>
                <ejs-button id="submit" type="submit" content="Salvar" cssClass="e-success"></ejs-button>
                <button type="submit" class="btn btn-sm btn-link no-a-decoration" asp-page-handler="Delete"
                        onclick="return confirm(&quot;Confirma a exclusão dessa categoria??&quot;)">
                    <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                </button>
            </form>
        </div>
    </div>
    <div class  ="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
