@page "/"
@model MoneySenseWeb.Pages.Dashboard.IndexModel
@{
}

@*Alteração de periodo*@
<form asp-action="Edit">
    <div class="row mb-4">
        <div class="col-md-5">
            <div class="d-flex flex-row widget summary income">
                <div class="d-flex flex-column justify-content-center p-5">
                    <label for="StartDate">Data inicial:</label>
                    <input id="StartDate" name="StartDate" type="date" value="@Model.DeterminedDate.StartDate.ToString("yyyy-MM-dd")" />
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="d-flex flex-row widget summary income">
                <div class="d-flex flex-column justify-content-center p-5">
                    <button type="submit" class="btn btn-sm btn-link no-a-decoration" asp-page-handler="Update">
                        <i class="fa-solid fa-sync fa-2x" text="Alterar dados"></i>
                    </button>
                </div>

            </div>

        </div>
        <div class="col-md-5">
            <div class="d-flex flex-row widget summary income">
                <div class="d-flex flex-column justify-content-center p-5">
                    <label for="EndDate">Data final:</label>
                    <input id="EndDate" name="EndDate" type="date" value="@Model.DeterminedDate.EndDate.ToString("yyyy-MM-dd")" />
                </div>
            </div>
        </div>
    </div>

</form>

@*Painel de totalizacao*@
<div class="row mb-4">
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary income">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Receita</span>
                <h1 class="display-6 fw-bold">@Model.TotalIncome</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary expense">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Despesa</span>
                <h1 class="display-6 fw-bold">@Model.TotalExpense</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary outcome">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Desfecho</span>
                <h1 class="display-6 fw-bold">@Model.Outcome</h1>
            </div>
        </div>
    </div>
</div>

@* Grafico de rosca *@
<div class="row mb-4">
    <div class="col-md-6">
        <div class="widget chart">
            <div class="title p-4">
                <h5 class="fw-bold">Despesas por categoria</h5>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@Model.DoughnutChartDataCategory" xName="categoryTitleWithIcon" yName="amount"
                                           innerRadius="60%" legendShape="Circle"
                                           palettes=@(new string[]{"#0e8d76","#a4b219","#cb9b00","#8a442c","#0454b5","#7d0a0a","#822690","#4c2090","#313e93","#0096ac"})>
                        <e-accumulationseries-datalabel name="formattedValue" visible></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top">
                    @* toggleVisibility="false" *@
                    <e-legendsettings-textstyle color="#fff" size="1rem">

                    </e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable>

                </e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>
@*     <div class="col-md-6">
        <div class="widget chart">
            <div class="title p-4">
                <h5 class="fw-bold">Despesas por Participante</h5>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@Model.DoughnutChartDataUser" xName="userName" yName="amount"
                                           innerRadius="60%" legendShape="Circle"
                                           palettes=@(new string[]{"#0e8d76","#a4b219","#cb9b00","#8a442c","#0454b5","#7d0a0a","#822690","#4c2090","#313e93","#0096ac"})>
                        <e-accumulationseries-datalabel name="formattedValue" visible></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top">
                    <e-legendsettings-textstyle color="#fff" size="1rem">

                    </e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable>

                </e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div> *@
</div>
<div class="row mb-4">
    <div class="col-md-12">
        <div class="widget chart">
            <div class="title p-4">
                <h5 class="fw-bold"></h5>
            </div>
            <ejs-chart id="spline-chart" background="#1a222b"
                       palettes=@(new string[]{"#54ffa9","#ffe91a"})>
                <e-chart-primaryxaxis valueType="Category">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis>
                    <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-series-collection>
                    <e-series dataSource="@Model.SplineChartDataView" xName="day" width="3"
                              yName="income" name="Receita" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"></e-series>
                    <e-series dataSource="@Model.SplineChartDataView" xName="day" width="3"
                              yName="expense" name="Despesa" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"></e-series>
                </e-series-collection>
                <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-chart-legendsettings>
                <e-chart-tooltipsettings enable shared></e-chart-tooltipsettings>
            </ejs-chart>
        </div>
    </div>
</div>

@*Trasações recentes*@
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="p-4">
                <h5 class="fw-bold">Trasações recentes</h5>
            </div>
            <div class="px-4 pb-4">
                <ejs-grid id="recent-transactions"
                          dataSource="@Model.RecentTransactions" gridLines="None">
                    <e-grid-columns>
                        <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                        <e-grid-column headerText="Date" field="Date" type="date" format="dd-MM-yy  "></e-grid-column>
                        <e-grid-column headerText="Amount" field="FormattedValue" textAlign="Right"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
            </div>
        </div>
    </div>
</div>